@charset "UTF-8";
/* ヘッダー用 */
div.header {
	background-color: gray;
}

label.headerA {
	display: inline-block;
	padding: 10px;
	color: white;
}

label.headerB {
	padding: 10px;
	font-size: 10px;
}
/* メイン */
div.main {padding-top: 50px;
	padding-bottom: 50px;
}

/* フッター */
div.footer {
	background-color: gray;
}

label.footer {
	display: inline-block;
	padding: 10px;
	color: white;
}